/*
1. Selector por etiqueta: cambia el estilo a todas las etiquetas en cuestion, se coloca directamente el nombre de la etiqueta
2. Selector por clase: cambia o modifica el estilo del elemento en donde se mencione la clase en el atributo class para crear un estilo por clase se coloca .nombreEstilo
3. Selector por identificador es decir por el id, modifica el estilo del elemento que posea el id
4. selector universal *
*/
/********************************************************************************************************************************/

/* 1. por etiqueta */
p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 24px;
    background-color: thistle;
}
h1{

}
h2{

}
section{

}
aside{

}

/* 2. Selector por clase o class */
.subtitulo{
    text-align: center;
    color: brown;
    background-color: bisque;
}

/* 3. Selector por ID: */
#info{
    border-radius: 5px;
    background-color: chocolate;
    color: black;
    padding: 10px;
}

/*
4. Selector por atributo
*/

[class]{
    /*Se aplicara a todos los elemtos que tengan atributo class*/
    background-color: burlywood;
}

/*Combinadores */

a[href]{
    text-align: center;
    margin-left: 2%;
    color: firebrick;
}

/*Utilizando sufijos*/
a[href$=".com"]{
    margin-left: 4%;
    color: blue;
}

/*Utilizando prefijos*/

[class^="as"]{
    font-size: 25px;
}


/*Tarea:*/
/*
1. hacer un ejemplo con el combinador donde se seleccione el hermano siguiente 
2. combinador donde se seleccione todos los hermanos siguientes 
3. un ejemplo de agrupacion de selectores 
4. ejemplo de descendencia directa y selecctores hijos directos
*/


/*Hermanos siguiente o adyacentes*/
/*Se utiliza el selector (+) para seleccionar un elemento que esta al lado de otroen el mismo nivel de jerarquía*/

h2 + em {
    font-family: 'Lucida Sans';
    font-size: 24px;
    background-color: black;
    color: white;
}

/*Todos los hermanos siguientes o Hermanos generales*/
/*Para seleccionar los hermanos de un elememento aunque no sean directamente adyacentes se usa el conbinador (~)*/

h3 ~ div {
    font-size: 24px;
    background-color:aqua;
    border-radius: 5px;
}

/*Agrupación de selectores*/
/*Cuando se va a aplicar el mismo estilo a etiquetas distintas se pueden combinar separandose por comas (p, em, div)*/

h1, h2, h3 {
    text-align: center;
    color:brown;
}

/*Selectores hijos directos*/
/*Se usa para seleccionar un elemento que es hijo de otro elemento y se usa la combinación (>)*/

em > span {
    font-family: 'Lucida Sans';
    color: crimson;
}