/*# Para llamar ID unicos*/
#p1{
color:crimson;
background-color:darkgrey;
padding:15px;
margin:20px;
}
/*. Para llamar clases*/
.paragraph{
    color:black;
border-color: aliceblue;

}
h3{
    text-align: center;
    color:blueviolet;
}